python-dateutil>=2.8.0
requests>=2.8.0
pandas>=1.1.0,<2.0.0
numpy>=1.19.0
scikit-learn>=1.0.1
pydantic>=1.8.2
fastparquet>=0.7.1
python-json-logger>=2.0.2
catboost>=1.0.3
lightgbm>=3.3.2

black
flake8
flake8-bugbear 
pytest
coverage
pytest-cov
pytest-datafiles
pytest-timeout
requests-mock
unittest-xml-reporting
