requests==2.25.1
python-dateutil==2.8.1
pandas==1.1.5
numpy==1.19.5
scikit-learn==1.0.1
pydantic==1.8.2
fastparquet==0.7.1
imbalanced-learn==0.9.0
black==22.3.0
flake8
flake8-bugbear 
coverage==5.5
pytest==6.2.2
pytest-cov==2.11.1
pytest-datafiles==2.0
pytest-timeout==1.4.2
requests-mock==1.9.3
unittest-xml-reporting==3.0.4
Jinja2==3.0.2
python-json-logger==2.0.2
catboost==1.0.5
lightgbm==3.3.2
