orbs:
  slack: circleci/slack@3.4.2
version: 2.1
jobs:
  build_python:
    machine:
      image: ubuntu-1604:201903-01
    parallelism: 1

    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install pyenv
          working_directory: ~/
          command: |
            rm -rf $(pyenv root)
            curl https://pyenv.run | bash
            export PATH="$HOME/.pyenv/bin:$PATH"
            pyenv update
            eval "$(pyenv init -)"
            eval "$(pyenv virtualenv-init -)"
      - run:
          name: Prepare python
          command: |
            pyenv rehash
            pyenv install -s 3.8.9
            pyenv global 3.8.9
            python -V
            pip -V
      - run: pip install --upgrade pip
      - run: pip install -r requirements.txt
      - run:
          name: Check style-guide
          command: |
            black -l 120 --check src/upgini/
      - run:
          name: Python tests
          no_output_timeout: 60m
          command: |
            mkdir test-results
            PYTHONPATH=src pytest --cov=src/upgini/ --cov-config=.coveragerc --cov-fail-under 60 --cov-report html:test-results --junitxml=test-results/junit.xml tests
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
      - run: mkdir -p /tmp/circleci-artifacts /tmp/circleci-test-results
      - restore_cache:
          keys:
            # This branch if available
            - v1-dep-{{ .Branch }}-
            # Default branch if not
            - v1-dep-main-
            # Any branch if there are none on the default branch - this should be unnecessary if you have your default branch configured correctly
            - v1-dep-
      # Save dependency cache
      - save_cache:
          key: v1-dep-{{ .Branch }}-{{ epoch }}
          paths:
            - vendor/bundle
            - ~/virtualenvs
            - ~/.m2
            - ~/.ivy2
            - ~/.bundle
            - ~/.go_workspace
            - ~/.cache/bower

      - run:
          name: Save test results
          command: |
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} /tmp/circleci-test-results/ \;
          when: always
      - store_test_results:
          path: /tmp/circleci-test-results
      - store_artifacts:
          path: /tmp/circleci-artifacts

workflows:
  version: 2
  build-test-push:
    jobs:
      - build_python
