orbs:
  slack: circleci/slack@3.4.2
version: 2.1
jobs:
  toxify:
    docker:
      - image: mikicz/tox
    parallelism: 1

    resource_class: medium
    steps:
      - checkout
      # - restore_cache:
      #     keys:
      #       # This branch if available
      #       - v1-dep-{{ .Branch }}-
      #       # Default branch if not
      #       - v1-dep-main-
      #       # Any branch if there are none on the default branch - this should be unnecessary if you have your default branch configured correctly
      #       - v1-dep-
      - run:
          name: Run tox
          command: tox
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
      - run: mkdir -p /tmp/circleci-artifacts /tmp/circleci-test-results
      # Save dependency cache
      # - save_cache:
      #     key: v1-dep-{{ .Branch }}-{{ epoch }}
      #     paths:
      #       - .tox

      - run:
          name: Save test results
          command: |
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} /tmp/circleci-test-results/ \;
          when: always
      - store_test_results:
          path: /tmp/circleci-test-results
      - store_artifacts:
          path: /tmp/circleci-artifacts

workflows:
  version: 2
  test:
    jobs:
      - toxify
