orbs:
  slack: circleci/slack@3.4.2
version: 2.1
jobs:
  toxify:
    machine:
      image: ubuntu-2004:202201-02
    # docker:
    #   - image: mikicz/tox
    parallelism: 1

    resource_class: medium

    # working_directory: /mnt/ramdisk
    working_directory: ~/upgini

    steps:
      - checkout
      - run:
          name: Install pyenv
          # working_directory: ~/
          command: |
            rm -rf $(pyenv root)
            curl https://pyenv.run | bash
            export PATH="$HOME/.pyenv/bin:$PATH"
            pyenv update
            eval "$(pyenv init -)"
            eval "$(pyenv virtualenv-init -)"
            pyenv rehash
            pyenv install -s 3.7.12
            pyenv install -s 3.8.12
            pyenv install -s 3.9.7
            pyenv global 3.7.12
            python -V
            pip -V
            pip install --upgrade pip
            pip install tox
      - run:
          no_output_timeout: 60m
          name: Run tox
          command: tox
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
      - run: mkdir -p /tmp/circleci-artifacts /tmp/circleci-test-results

      - run:
          name: Save test results
          command: |
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} /tmp/circleci-test-results/ \;
          when: always
      - store_test_results:
          path: /tmp/circleci-test-results
      - store_artifacts:
          path: /tmp/circleci-artifacts

workflows:
  version: 2
  test:
    jobs:
      - toxify
